
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.icon-box {
    padding: 10px;
    background-color: white; 
    border-radius: 50px;
    width: 4%;
    display: inline-block;
    height: 60px;
  

  
}
.icon-box a img{
    width: 70%;
}





/* Tablets */
@media (max-width: 768px) {
    .icon-box {
        width: 8%;
        height: 50px;
    }
    .icon-box a img {
        width: 60%;
    }
}

/* Mobile Phones */
@media (max-width: 480px) {
    .icon-box {
        width: 12%;
        height: 40px;
    }
    .icon-box a img {
        width: 50%;
    }
}