
.body{
    line-height: 1.5;
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
width: 100%;
}
.screen{
    border: 2px solid red;
    width: 100%;
    border-color: black;
}
.firstfooter{
    max-width: 1170px;
    background-color: black;
    margin: auto;
/* border:5px solid red ;  */
   width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer-page{
    background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width:25% ; 
   padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 3px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content:'' ;
    position: absolute;
    left: 0;
    bottom: -10px;
    /* background-color: #e91e63; */
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300px;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: red;
    padding-left: 18px;
}
.footer-col .socail-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: reba(255,255,255,0.2);
margin: 0 10px 10px 0;
text-align: center;
line-height: 40px;
border-radius: 50%;
color: #ffffff;
transition: all 0.5s ease;
font-size: 25px;
}
.footer-col .socail-links a:hover{
    color:red;
    background-color: #ffffff;
}
/* responsive designe */

@media(max-width: 767px){
  .footer-col{
    width: 50%; 
    margin-bottom:30px ;

  }
}
@media(max-width: 574px){
    .footer-col{
      width: 100%; 
      
    }
  }


  
.footerCopyright{
    background-color: #BBF3F4;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    /* border: 5px solid black; */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 40;
}

.footerCopyright p{
    text-align: center;
}

.developedBy{
    font-weight: bold;
    color: var(--white);
    color: red;
}
  

