/* new footer2 */

.mainfooter{
    border: 1px solid black;
    width: 100%;
    height: 200px;
    justify-content: space-around;
    display: flex;
    /* background-color: black; */

}
.first-footer{
    border: 4px solid black;
    width: 30%;
 margin-top: 10%;
 height: 100px;

}
.second-footer{
    border: 1px solid black;
    width: 30%;
    height: 100px;

}
.third-footer{
    border: 1px solid black;
    width: 30%;
    height: 100px;
    

}
.four-footer{
    border: 1px solid black;
    width: 30%;
    height: 100px;

}