/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Navigation bar styles */
.navigation {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  background-color: black;
  z-index: 1000;
  padding: 0 20px;
}

.navbar-first {
  width: 20%;
}

.logo-navbar {
  width: 100%;
}

.second-navigation {
  width: 60%;
  display: flex;
  justify-content: space-around;
}

.second-navigation > p {
  color: white;
  cursor: pointer;
}

.second-navigation > p:hover {
  color: red;
}

/* Menu icon styles */
.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 24px;
  color: white;
}

.menu {
  display: none;
  position: fixed;
  top: 60px;
  right: 0;
  background-color: black;
  width: 100%;
  height: calc(100vh - 60px);
  z-index: 1001;
}

.menu a {
  display: block;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
}

.menu a:hover {
  background-color: red;
}

/* Show menu when active */
.menu.open {
  display: block;
}

/* Responsive styles */
@media (max-width: 1118px) {
  .logo-navbar {
    left: 8%;
    top: 20px;
    width: 130px;
  }
}

@media (max-width: 944px) {
  .logo-navbar {
    left: 8%;
    top: 20px;
    width: 130px;
  }
  .second-navigation > p {
    font-size: 17px;
  }
}

@media (max-width: 860px) {
  .second-navigation {
    display: none; /* Hide second navigation */
  }
  .menu-icon {
    display: block; /* Show menu icon */
  }
}

@media (max-width: 600px) {
  .navigation {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }
  .navbar-first {
    width: 100%;
    text-align: center;
  }
  .second-navigation {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .search {
    width: 100%;
  }
  .dropbtn {
    width: 100%;
  }
}
