/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navbar{
    width: 100%;
    border: 2px solid rgb(173, 29, 29);
    height: 70px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
} */
/* .logo{
    width: 20%;
    border: 3px solid rgb(195, 9, 9);
    height: 70px;
    margin-right: 60%;
}
.lgo>img{
  width: 100%;
  height: 70px;
  border: 1px solid red;  
} */

/* .second-div-navbar{
    width: 90%;
    height: 70px;
    border: 1px solid rgb(223, 6, 6);
    display: flex;
    justify-content: space-around;
    align-items: center;
} */
/* .second-div-navbar :hover{
    color:  rgb(254, 25, 25);  /* Text color on hover */
    /* font-weight: bold;  */

/* }
@media screen and (min-width:800px) {
    .navbar{
        position: relative;
        width: auto;
        background-color: transparent;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-right: 5%;
    }
    .nav-link{
          margin-right: 2em;
    }
    .navLogo,#barContainer,.sociallinkContainer{
        display: none;
    }
} */ 

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    list-style: none;
    outline: none;
    border: none;
    transition: all 0.3s linear;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
   font-size: 65%; 
}


:root{
    --bg: #ffb320;
    --color: #212529;
}
.navbar{
    background: var(--color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;  /* OR width: 100%; */
    background-color: #f0f0f0; /* Initial background color */
    z-index: 999;
    transition: background-color 0.3s ease-in-out;
}
.home img{
    min-height: 90vh;
    object-fit: cover;
    position: relative;
}
.home .content{
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
}
.home p{
    line-height: 2;
}
img{
    width: 100%;
    object-fit: cover;
}
.cards .images{
    position: relative;
}
.cards .images span{
    position: absolute;
    top: 10px;
    left: 20px;
}
.cards .images h4{
    position: absolute;
    bottom: 100px;
    left: 10px;
    padding: 8px;
    color: #fff;
    font-size: 16px;
}
.cards .images h6{
    position: absolute;
    bottom: 5px;
    left: 10px;
    padding: 15px;
    line-height: 1.6;
    color: #fff;
    font-size: 12px;
    
}
.games{
    background-image: url(https://img.freepik.com/free-vector/dark-hexagonal-background-with-gradient-color_79603-1409.jpg?t=st=1717068955~exp=1717072555~hmac=f190a40dbfbc4307177e518549a5f42c94218c26de0036160c1e3eafb944da43&w=826);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    
}
.tour{
    /* background-image: url(../images/pattern.png); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 28rem;
    display: flex;
    align-items: center;
    justify-content:center;
    margin-bottom: 4rem;
}
.tour img{
    height: 100%;
}
.tour h5{
    color: var(--bg);
    padding: 10px;
}
.tour span{
    line-height: 2;
}
.tour h6{
    color: var(--bg);
    padding: 10px 0;
    font-size: 8px;
}
.reviews{
    /* background-image: url(../images/review-bg.png); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    
}
.reviews span{
    position: absolute;
    top: -15px;
    left: 20px;
    border-radius: 50%;
    font-size: 13px;
    padding: 5px;
}
.footer{
    /* background-image: url(../images/pattern.png); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 3rem 0;
}
.footer .title img{
    width: 80px;
}
.footer h3{
    color:#fff;
    padding:20px;
    font-size: 20px;
}
.footer h6{
    color:var(--bg);
    padding: 5px 10px;
    font-size: 13px;
}
.footer p{
    color:#fff;
    padding: 5px 10px;
    font-size: 8px;
}





















@media(max-width: 600px){
    html{
        font-size: 50%;
    }
    .navbar .log{
        display: none;
    }
    .tour{
        margin: 45rem 0;
        background: #fff;
    }
}
.footerCopyright{
    background-color: #BBF3F4;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    /* border: 5px solid black; */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 40;
}

.footerCopyright p{
    text-align: center;
}

.developedBy{
    font-weight: bold;
    color: var(--white);
    color: red;
}